@model Dictionary<string,Dictionary<string,string>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Данные по аукциону";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    @foreach (KeyValuePair<string,Dictionary<string,string>> pair in Model)
    {
        <div class="row">
            <div class="col-md-6 bg-light border">
                <h4 class="text-center"> @pair.Key</h4>
            </div>
            <div class="col-md-6 bg-light border">
                @foreach (var data in @pair.Value)
                {
                    <h6> @data.Key</h6>
                    <div>
                        <span>@data.Value </span>
                    </div>
                }
            </div>
        </div>

    }
</div>
